#.env files
.env*

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Project data and exports
data/
exports/
docs/*.csv

# Excel / CSV outputs
*.csv

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
